*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    line-height: 1.2;
    font-weight: 400;
    background-color: #fafafa;
    // font-family: ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}